# その他
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ 関連
*.iml
*.ipr
*.iws
.idea/

# VS Code の設定は、必要な場合のみ追跡対象にするためコメント化
#.vscode/

# Flutter / Dart / Pub 関連
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
.env
**/__pycache__/
/tools/api_comparison/data/*.db
/tools/api_comparison/data/*.db-*
/tools/api_comparison/logs/*.log
/build/
/coverage/

# シンボル化関連
app.*.symbols

# 難読化関連
app.*.map.json

# Android Studio のビルド成果物
/android/app/debug
/android/app/profile
/android/app/release
